<header>
  <h1>Este es el header</h1>
  <div class="logo">logo</div>
  <nav>
    <a href="/">Inicio</a>
    <a href="/nosotros">Nosotros</a>
    <a href="/contacto">Contacto</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
</style>
